.wp-caption {
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

.wp-caption-text {
  color: #95957a;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}

.wp-caption .wp-caption-text {
  margin: 1rem 0;
}
