#comments {
  padding-top: 4em;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

ol.comment-list {
  list-style: none;
  margin-left: 0;
}
ul.children {
  list-style: none;
  margin-left: 2.5em;
}
.comment-content p {
  margin: 0;
}
.comment-author {
  padding-bottom: 0.5em;
  font-style: italic;
  font-size: 18px;
  font-size: 1.8rem;
}
.comment-author cite {
  font-style: normal;
  font-size: 26px;
  font-size: 2.6rem;
}
.comment-author .says {
  color: #dcdcdc;
  font-style: italic;
  font-size: 18px;
  font-size: 1.8rem;
}
.comment-list article {
  padding-bottom: 2em;
}
#comments h2.comments-title {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1em;
  padding-bottom: 1em;
}
#reply-title {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1em;
  padding-bottom: 1em;
}
.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment, #searchform {
  padding: 0 11px;
  overflow: hidden;
}


