#comments {
  clear: both;
  padding-top: 4em;
}

.comment-content a {
  word-wrap: break-word;
}

.comment-list,
.comment-list ol {
  clear: both;
  list-style: none;
  margin-left: 0;
}

.comments-title {
  margin-bottom: 0;
}

/* Top navigation */
#comment-nav-above {
  border-top: none;
  margin-top: 0;
}

/* Comment header */
.comment-author {
  line-height: 1;
}

.avatar {
  border-radius: 50%;
  float: left;
  margin: -1rem 1rem 1rem 0;
}

.fn, 
.comment-metadata {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fn a {
  color: #363431;
} 

.says {
  color: #a09a92;
  font-style: italic;
}

.comment-metadata a {
  color: #787065;
}

.comment-metadata {
  border-bottom: 1px solid #d9d6d0;
  line-height: 1;
  margin-left: 74px;
  padding: 0.75rem 0 1rem;
}

/* Comment content */
.comment-content {
  clear: both;
  color: #363431;
  font-size: 0.9em;
  margin: 0;
}

.comment + .comment {
  margin-top: 6rem;
}

.comment-content p:last-of-type {
  margin-bottom: 0;
}

/* Comment reply link */
.reply {
  line-height: 1;
  margin: 0;
}

.comment-reply-link {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}

.comment-reply-link:before {
  content: '>';
  display: inline;
  font-family: readly-icons;
  font-size: 18px;
  font-size: 1.8rem;
  font-style: normal;
  margin-right: 1px;
  vertical-align: bottom;
}

/* Child comments */
.children {
  background: rgba(255, 255, 255, 0.5);
  border-left: 4px solid #d9d6d0;
  padding: 2rem 0 0 2rem;
  margin: 4rem 0 2rem 0;
}

.children .children,
.children .children .children .children,
.children .children .children .children .children .children,
.children .children .children .children .children .children .children .children {
  background: #eae9e6;
  border-color: #a09a92;
}

.children .children .children,
.children .children .children .children .children,
.children .children .children .children .children .children .children,
.children .children .children .children .children .children .children .children .children {
  background: #faf9f5;
  border-color: #d9d6d0;
}

/* Author comments */
.bypostauthor {
  background: #d9d6d0;
  padding: 2rem 1rem 1rem;
}

.bypostauthor .avatar {
  border: 3px solid #faf9f5;
}

/* Comment form */
label[for="comment"] {
  margin-bottom: 0;
}

.form-allowed-tags {
  line-height: 2;
}




