#comments {
  clear: both;
  padding-top: 4em;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-list,
.comment-list ol {
  clear: both;
  list-style: none;
  margin-left: 0;
}

/* Comment header */
.comment-author {
  line-height: 1;
}

.avatar {
  border-radius: 50%;
  float: left;
  margin: -1rem 1rem 1rem 0;
}

.fn, 
.comment-metadata {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fn a {
  color: #363431;
} 

.says {
  color: #a09a92;
  font-style: italic;
}

.comment-metadata a {
  color: #787065;
}

.comment-metadata {
  border-bottom: 1px solid #d9d6d0;
  line-height: 1;
  margin-left: 74px;
  padding: 0.75rem 0 1rem;
}

/* Comment content */
.comment-content {
  clear: both;
  color: #363431;
  font-size: 0.9em;
  margin: 1em 0 0;
}

.comment-content p:last-of-type {
  margin-bottom: 0;
}

/* Comment reply link */
.reply {
  line-height: 1;
  margin: 0 0 4em;
}

.comment-reply-link {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}

.comment-reply-link:before {
  content: '>';
  display: inline;
  font-family: readly-icons;
  font-size: 18px;
  font-size: 1.8rem;
  font-style: normal;
  margin-right: 1px;
  vertical-align: bottom;
}

/* Child comments */
.children {
  border-left: 4px solid #d9d6d0;
  padding-left: 2rem;
  margin-left: 3rem;
}

/* Form */
label[for="comment"] {
  margin-bottom: 0;
}

.form-allowed-tags {
  line-height: 2;
}




