hr {
  background-color: #d9d6d0;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, 
ol {
  margin: 0 0 1.5em 0;
}

ul {
  list-style: disc inside;
}

ul ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol ol {
  list-style: lower-alpha inside;
}

li {
  line-height: 1.6;
  margin: 0.5em 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 0;
}

table {
  font-size: 0.85em;
  line-height: 1.4;
  margin: 0.5em 0 1.5em;
  width: 100%;
}

tr:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.5);
}

th, 
td {
  border-bottom: 1px solid #d9d6d0;
  padding: 0.8em 1em;
}

th {
  font-style: italic;
}

thead:nth-of-type(odd) tr {
  background: none;
}

thead th {
  border-width: 2px;
  color: #a09a92;
  font-style: normal;
  font-weight: bold;
  padding: 0.4em 1em;
}


