#colophon .site-info {
  color: #a09a92;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
}

#colophon a {
  color: #787065;
}

.site-info a[rel="generator"] {
  display: block;
}

#social a {
  color: #faf9f5;
  background: #d9d6d0;
  border-radius: 2px;
  display: inline-block;
  font-family: readly;
  font-size: 18px;
  height: 30px;
  line-height: 31px;
  text-align: center;
  text-shadow: none;
  width: 30px;
}

/* For phones and little screens */
@media only screen and (max-width: 640px) {
  #colophon .site-info,
  #social {
    padding: 1rem .5rem 2rem;
    text-align: center;
    width: 100%;
  }
}

/* Tablets and up */
@media only screen and (min-width: 641px) {
  #colophon {
    padding: 2rem 4rem;
    width: 100%;
  }

  #colophon .site-info {
    float: left;
  }

  #social {
    float: right;
    padding-top: .5rem;
  }

  #social a.twitter:hover {
    background: #00aced;
  }

  #social a.facebook:hover {
    background: #3b5998;
  }

  #social a.twitter:hover {
    background: #00aced;
  }
  
  #social a.google:hover {
    background: #dd4b39;
  }

  #social a.youtube:hover {
    background: #bb0000;
  }
  
  #social a.instagram:hover {
    background: #517fa4;
  }

  #social a.pinterest:hover {
    background: #cb2027;
  }
  
  #social a.flickr:hover {
    background: #ff0084;
  }

  #social a.dribbble:hover {
    background: #ea4c89;
  }

  #social a.vimeo:hover {
    background: #aad450;
  }
  
  #social a.rss:hover {
    background: #FA9B39;
  }
}
