#colophon .site-info {
  color: #a09a92;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
}

#colophon a {
  color: #787065;
}

.site-info a[rel="generator"] {
  display: block;
}

#social ul {
  list-style-type: none;
}

#social li {
  display: inline;
}

#social a:before {
  color: #faf9f5;
  background: #d9d6d0;
  border-radius: 2px;
  display: inline-block;
  font-family: readly-icons;
  font-size: 22px;
  height: 30px;
  line-height: 26px;
  padding: 2px;
  text-align: center;
  text-shadow: none;
  transition: background-color 0.75s ease;
  width: 30px;
}

#social a span {
  top: -99999px;
  left: -99999px;
  position: absolute;
}
