button,
input,
select,
textarea {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
  background: #faf9f5;
  border: 0;
  border-bottom: 2px solid #a09a92;
  color: #a09a92;
  font-size: 1.4rem;
  line-height: 1.6;
  width: 100%;
  padding: 1.2rem 1.4rem;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
  color: #363431;
  border: 1px solid #363431;
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
  outline: none;
}

textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 100%;
}

/* Vendor prefixes for placeholder text */
::-webkit-input-placeholder {
   color: #d9d6d0;
}

::-moz-placeholder {
   color: #d9d6d0;
}

:-ms-input-placeholder {
   color: #d9d6d0;
}

/* Submit buttons */
.form-submit,
.contact-submit,
form p {
  margin: 1em 0;
  text-align: center;
}

input[type="submit"], button {
  background: #a09a92;
  border: 1px solid #eae9e6;
  color: #eae9e6;
  font-size: 1.2rem;
  letter-spacing: 1px;
  min-width: 15em;
  outline: 4px solid #a09a92;
  padding: 0.7rem 1.4rem;
  position: relative;
  text-transform: uppercase;
}

input[type="submit"]:hover, button:hover {
  background: #a09a92;
  color: #faf9f5;
  outline: 2px solid #a09a92;
}

input[type="submit"]:active, button:active {
  background: #363431;
  outline: 5px solid #363431;
}

/* Labels */
label {
  color: #a09a92;
  font-size: 1.8rem;
  font-style: italic;
  text-align: left;
}

label span {
  font-size: .9em;
  padding-left: 2px;
}
