/* Nav bar sticks to top of page */
.nav-bar {
  background: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid #d9d6d0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 40000;
}

.admin-bar .nav-bar {
  top: 32px;
}

.nav-bar:after {
  content: '';
  clear: both;
  display: block;
}

.site-branding h1 {
  color: #a09a92;
  font-family: "Playfair Display";
  font-size: 36px;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

/* Style page title blocks */
.title-block {
  text-align: center;
}

.title-block h1 {
  font-style: normal;
  line-height: 1.2;
  margin: 0;
}

.title-block h3,
.title-block .entry-meta {
  margin: 0;
}

/* Style a bit differently if a header image is present */
#masthead.header-image {
  position: relative;
  background: #d9d6d0 url('../images/grain.jpg');
  line-height: 0;
  text-align: center;
  width: 100%;
}

#masthead.header-image:after {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;
}

#masthead img {
  margin: 0 auto;
}

.header-image .title-block {
  bottom: 10%;
  color: #faf9f5;
  left: 20%;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  width: 60%;
  z-index: 4000;
}

.header-image .title-block a,
.header-image .title-block h1 a,
.header-image .title-block .entry-meta a,
.header-image .title-block h1,
.header-image .title-block h3,
.header-image .title-block .entry-meta {
  color: #faf9f5;
}

/* And if it is not */
.empty .title-block {
  margin: 2rem auto;
  max-width: 680px;
}
