#masthead {
  display: none;
}

.nav-bar {
  background: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid #d9d6d0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 40000;
}

.admin-bar .nav-bar {
  top: 32px;
}

.nav-bar:after {
  content: '';
  clear: both;
  display: block;
}

.site-branding h1 {
  color: #a09a92;
  font-family: "Playfair Display";
  font-size: 31px;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.header-image {
  background: purple;
  line-height: 0;
  text-align: center;
  width: 100%;
}

.header-image img {
  margin: 0 auto;
}

/* For phones and little screens */
@media only screen and (max-width: 640px) {
  #masthead {
    margin: 0;
    padding: 0;
  }

  .site-branding {
    text-align: center;
    margin: 8rem 0 0 0;
    width: 100%;
  }
}

/* Tablets and up */
@media only screen and (min-width: 641px) {
  #masthead {
    border-bottom: 1px solid #f8f8f7;
    -moz-box-shadow: inset 0 -10px 10px -10px #ededeb;
    -webkit-box-shadow: inset 0 -10px 10px -10px #ededeb;
    box-shadow: inset 0 -10px 10px -10px #ededeb;
  }

  .site-branding {
    float: left;
    padding: 0.5rem 0 0 4rem;
  }

  #site-navigation {
    display: block;
    float: right;
    padding: 0 4rem 0 0;
  }

  #site-navigation:before,
  #site-navigation:after {
    content: "";
    display: table;
  }
}
