/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}

#nav-below.infinite-scroll {
  visibility: hidden;
}
#infscr-loading {
  position: fixed;
  z-index: 3;
  color: #adadad;
  bottom: 100px;
  width: 130px;
  height: 75px;
  line-height: 75px;
  left: 50%;
  margin-left: -65px;
  background: #fff;
  opacity: 0.8;
  text-align: center;
  border-radius: 10px;
}
#infscr-loading img {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  -webkit-animation: rotate 0.5s linear 0 infinite normal;
  -moz-animation: rotate 0.5s linear 0s infinite normal;
  -o-animation: rotate 0.5s linear 0 infinite normal;
  -ms-animation: rotate 0.5s linear 0 infinite normal;
  animation: rotate 0.5s linear 0 infinite normal;
}

.load-more {
  text-align: center;
}
.load-more a {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  padding-top: 50px;
  color: #424242;
}
.load-more a span.img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #f7f7f5;
  background-image: url(icons/loadmore.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 8;
}
.load-more a:hover span.loader {
  -webkit-animation: rotate 0.5s linear 0 1 normal;
  -moz-animation: rotate 0.5s linear 0s 1 normal;
  -o-animation: rotate 0.5s linear 0 1 normal;
  -ms-animation: rotate 0.5s linear 0 1 normal;
  animation: rotate 0.5s linear 0 1 normal;
}
.load-more a span.loader2 {
  z-index: 7;
}
.load-more a.loading span.img.loader2 {
  z-index: 9;
  -webkit-animation: rotate 0.5s linear 0 infinite normal;
  -moz-animation: rotate 0.5s linear 0s infinite normal;
  -o-animation: rotate 0.5s linear 0 infinite normal;
  -ms-animation: rotate 0.5s linear 0 infinite normal;
  animation: rotate 0.5s linear 0 infinite normal;
}

/* hack for safari: fixes font rendering on css rotations */
#wpadminbar, #wpadminbar * {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
