/* Hide navigation and footer when Infinite Scrolling is active (.infinite-scroll) and scrolling (.neverending), respectively */
.infinite-scroll .navigation-paging, 
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the footer once we've reached the end */
.infinity-end.neverending .site-footer {
  display: block;
}

/* Make sure posts are well-spaced */
.infinite-wrap {
  margin-top: 10em;
}

/* And style the loading graphic */
.infinite-loader {
  margin: 2em 46%;
}
