/* Hide navigation and footer when Infinite Scrolling is active (.infinite-scroll) and scrolling (.neverending), respectively */
.infinite-scroll .navigation-paging,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the footer once we've reached the end */
.infinity-end.neverending .site-footer {
  display: block;
}

/* Make sure posts are well-spaced */
.infinite-wrap {
  margin-top: 10em;
}

/* And style the loading graphic */
.infinite-loader {
  margin: 2em 46%;
}

/* Click-to-scroll */
#infinite-handle {
  text-align: center;
}

#infinite-handle span {
  background: #faf9f5;
  border: 1px solid #d9d6d0;
  color: #787065;
  display: inline-block;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 4rem auto;
  outline: 4px solid #faf9f5;
  padding: 7px 25px;
  text-transform: uppercase;
}

#infinite-handle span:hover {
  background: #eae9e6;
  border-color: #932817;
  color: #932817;
  cursor: pointer;
}

/* Minimal adjustments to sharing module */
.sharedaddy .sd-title {
  font-style: normal;
}

/* Slideshows */
.entry-content .slideshow-window {
  background-color: #faf9f5;
  border: 10px solid #faf9f5;
  border-radius: 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
}
