/* Hide navigation and footer when Infinite Scrolling is active (.infinite-scroll) and scrolling (.neverending), respectively */
.infinite-scroll .navigation-paging,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the footer once we've reached the end */
.infinity-end.neverending .site-footer {
  display: block;
}

/* Make sure posts are well-spaced */
.infinite-wrap {
  margin-top: 10em;
}

/* And style the loading graphic */
.infinite-loader {
  margin: 2em 46%;
}


/* Style Jetpack's sharing module */
.sd-title {
  margin-bottom: 0.25em;
  text-align: center;
}

.sd-content ul {
  line-height: 1;
  text-align: center;
}

.sd-content li {
  display: inline-block;
  list-style: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 3px 10px 3px 8px;
  position: relative;
  margin: 0.3em;
  text-transform: uppercase;
}

.sd-content a,
.entry-content .sd-content a {
  color: #faf9f5;
}

.sd-content a:before {
  color: #faf9f5;
  display: inline;
  font-family: readly-icons;
  padding-right: 6px;
  text-transform: none;
  vertical-align: bottom;
}

.sd-content .share-end {
  display: none;
}

/* Slideshows */
.entry-content .slideshow-window {
  background-color: #faf9f5;
  border: 10px solid #faf9f5;
  border-radius: 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
}
