/* Hide navigation and footer when Infinite Scrolling is active (.infinite-scroll) and scrolling (.neverending), respectively */
.infinite-scroll .navigation-paging,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the footer once we've reached the end */
.infinity-end.neverending .site-footer {
  display: block;
}

/* Make sure posts are well-spaced */
.infinite-wrap {
  margin-top: 10em;
}

/* And style the loading graphic */
.infinite-loader {
  margin: 2em 46%;
}


/* Style Jetpack's sharing module */
.sd-title {
  margin-bottom: 0.25em;
  text-align: center;
}

.sd-content ul {
  line-height: 1;
  text-align: center;
}

.sd-content li {
  display: inline-block;
  list-style: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 3px 10px 3px 8px;
  position: relative;
  margin: 0.3em;
  text-transform: uppercase;
}

.sd-content a,
.entry-content .sd-content a {
  color: #faf9f5;
}

.sd-content a:before {
  color: #faf9f5;
  display: inline;
  font-family: readly-icons;
  padding-right: 6px;
  text-transform: none;
  vertical-align: bottom;
}

li.share-email a:before {
  content: 'M';
}

li.share-facebook a:before {
  content: 'F';
}

li.share-google-plus-1 a:before {
  content: 'G';
}

li.share-linkedin a:before {
  content: 'L';
}

li.share-pinterest a:before {
  content: 'N';
}

li.share-pocket a:before {
  content: 'O';
}

li.share-print a:before {
  content: 'P';
}

li.share-reddit a:before {
  content: 'E';
}

li.share-stumbleupon a:before {
  content: 'S';
}

li.share-tumblr a:before {
  content: 'U';
}

li.share-twitter a:before {
  content: 'T';
}

.sd-content .share-end {
  display: none;
}
