/* Naturalize smiley-faces */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/* Tablets and up */
@media only screen and (min-width : 641px) {
  .format-image .entry-media,
  .entry-audio-embed,
  .format-video > .entry-media,
  .oversized,
  .gallery  {
    margin-left: -3em;
    margin-right: -3em;
    max-width: calc(100% + 6em);
  }

  .content-area img.alignnone,
  .wp-caption.alignnone {
    margin-left: -3em;
    margin-right: -3em;
    max-width: calc(100% + 6em);
  }
}

/* Desktops and stuff */
@media only screen and (min-width: 860px) {
  .format-image .entry-media,
  .entry-audio-embed,
  .format-video > .entry-media,
  .oversized,
  .gallery {
    margin-left: -6em;
    margin-right: -6em;
    max-width: calc(100% + 12em);
  }

  .content-area img.alignnone,
  .wp-caption.alignnone {
    margin-left: -6em;
    margin-right: -6em;
    max-width: calc(100% + 12em);
  }
}
