/* Tablets and up */
@media only screen and (min-width : 641px) {

}

@media only screen and (max-width : 999px) {

  #main {
    padding: 0 40px;
  }
  #page {
    padding-bottom: 35px;
  }

  #nav-below {
    padding: 10px 20px;
    margin-bottom: 15px;
  }
  .format-image .entry-media,
  .entry-audio-embed,
  .format-video > .entry-media,
  .readly_big {
    margin-left: -40px;
    margin-right: -40px;
    max-width: -moz-calc(100% + 80px);
    max-width: -webkit-calc(100% + 80px);
    max-width: calc(100% + 80px);
    width: -moz-calc(100% + 80px);
    width: -webkit-calc(100% + 80px);
    width: calc(100% + 80px);
  }
  ul.children {
    margin-left: 50px;
  }
}

/* Phone-sized devices */
@media only screen and (max-width: 640px) {
  
  body {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5em;
  }

  #content {
    min-width: 320px;
    padding: 0;
    margin: 0;
    max-width: none;
  }

  .entry-header .entry-meta {
    margin-bottom: 0.5em;
  }
  .entry-title, .page-title {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.22em;
  }
  #reply-title {
    font-size: 28px;
    font-size: 2.8rem;
  }

  #colophon {
    display: block;
  }
  #footer-wrapper {
    display: table;
    width: 100%;
  }
  #colophon .site-info {
    display: table-footer-group;
    text-align: center;
  }
  #site-info-wrapper {
    display: table-row;
  }
  #site-info-wrapper2 {
    display: table-cell;
    padding: 0 20px;
  }
  #social {
    display: table-header-group;
    text-align: center;
    padding: 0;
  }
  #social_wrapper {
    display: table-row;
  }
  #social_wrapper2 {
    display: table-cell;
    padding-bottom: 2em;
  }

  #content > article, #nav-below, #comments {
    padding: 20px;
  }
  .format-image .entry-media,
  .entry-audio-embed,
  .format-video > .entry-media,
  .readly_big {
    margin-left: -20px;
    margin-right: -20px;
    max-width: -moz-calc(100% + 40px);
    max-width: -webkit-calc(100% + 40px);
    max-width: calc(100% + 40px);
    width: -moz-calc(100% + 40px);
    width: -webkit-calc(100% + 40px);
    width: calc(100% + 40px);
  }
  .previous .meta-nav:before, .next .meta-nav:before {
    top: 0.45em;
  }
  .article-separator {
    margin: 0;
  }
  .format-quote .entry-content {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .format-link .link_post_p a {
    font-size: 28px;
    font-size: 2.8rem;
  }
}
