/* Phone-sized devices */
@media only screen and (max-width: 640px) {

  /* Tweak font sizes and margins -- needs review */
  body {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5em;
  }

  #content {
    min-width: 320px;
    padding: 0;
    margin: 0;
    max-width: none;
  }

  .entry-title, .page-title {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.22em;
  }
  #reply-title {
    font-size: 28px;
    font-size: 2.8rem;
  }
  
  #content > article, #nav-below, #comments {
    padding: 20px;
  }

  /* In-page navigation should be pretty simple */
  .navigation-post .previous, 
  .navigation-post .next, 
  .navigation-image .previous, 
  .navigation-image .next {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .navigation-post .previous, 
  .navigation-image .previous {
    border-bottom: 1px solid #d9d6d0;
  }

  .navigation-post .previous,
  .navigation-post .next,
  .navigation-image .previous,
  .navigation-image .next {
    text-align: center;
  }

  .navigation-paging .page-number {
    display: none;
  }

  .navigation-paging .previous, 
  .navigation-paging .next {
    float: left;
    width: 50%;
  }
}


/* Tablets and up */
@media only screen and (min-width: 641px) {
  /* Overlap content width for certain items */
  .content-area img.alignnone,
  .format-image .entry-media,
  .format-video > .entry-media,
  .entry-audio-embed,
  .gallery,
  .oversized,
  .wp-caption.alignnone {
    margin-left: -3em;
    margin-right: -3em;
    max-width: calc(100% + 6em);
  }

  /* Halfies on the overlap */
  .format-aside .entry-content,
  .format-quote .entry-content, 
  .sticky {
    margin-left: -1.5em;
    margin-right: -1.5em;
    max-width: calc(100% + 3em);    
  }

  /* Adjust padding for sticky posts */
  .sticky {
    padding: 1.5em;
  }

  /* Aligned items overlap, too */
  .alignleft {
    margin-left: -3em;
  }

  .alignright {
    margin-right: -3em;
  }

  /* Password protected posts should show form on a single line */
  .password-protected input[type="password"] {
    width: 60%;
  }

  .password-protected .form-submit {
    display: inline-block;
    margin-left: 1%;
    width: 37%;
  }

  .password-protected input[type="submit"] {
    width: 100%;
  }

  /* In-page navigation can be arranged in floats and take up a bit more space */
  [class*="navigation"] {
    border-top: 1px solid #d9d6d0;
  }

  [class*="navigation"] .previous, 
  [class*="navigation"] .next {
    width: 50%;
    float: left;
    margin: 2rem 0;
  }

  [class*="navigation"] .next {
    border-left: 1px solid #d9d6d0;
    min-height: 4.8rem;
  }

  /* Archive page navigation */
  .navigation-paging {
    margin-top: 10rem;
  }
  
  .navigation-paging .next,
  .navigation-paging .previous {
    border: none;
    margin: 1rem 0;
    width: 40%;
  }

  [class*="navigation"] .page-number {
    color: #a09a92;
    float: left;
    font-size: 2rem;
    font-weight: bolder;
    margin: 1rem 0;
    text-align: center;
    width: 20%;
  }

  [class*="navigation"] .page-number span {
    color: #d9d6d0;
    font-style: italic;
    font-weight: normal;
    padding: 0 0.2rem 0 .1rem;
  }
}



/* Desktops and big things */
@media only screen and (min-width: 860px) {
  /* Overlap content width a bit more for larger screens */
  .content-area img.alignnone,
  .format-aside .entry-content,
  .format-image .entry-media,
  .format-video > .entry-media,
  .entry-audio-embed,
  .gallery,
  .oversized,
  .wp-caption.alignnone {
    margin-left: -6em;
    margin-right: -6em;
    max-width: calc(100% + 12em);
  }

  /* Halfies on the overlap */
  .format-aside .entry-content,
  .format-quote .entry-content,
  .sticky {
    margin-left: -3em;
    margin-right: -3em;
    max-width: calc(100% + 6em);    
  }

  /* Adjust padding for sticky posts */
  .sticky {
    padding: 3em;
  }

  /* Aligned items overlap, too */
  .alignleft {
    margin-left: -6em;
  }

  .alignright {
    margin-right: -6em;
  }
}
