/* Naturalize smiley-faces */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}


/* I dunno, man */
.entry-media {
  position: relative;
  width: 100%;
  margin-bottom: 0.5em;
}
.entry-media > * {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.format-audio .wp-audio-shortcode {
  height: 30px !important;
  max-width: 100% !important;
}

.format-video .video-content {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.format-video .video-content iframe,
.format-video .video-content object,
.format-video .video-content embed {
  width: 100%;
  margin: 0;
}



/* Tablets and up */
@media only screen and (min-width : 641px) {
  .format-image .entry-media,
  .entry-audio-embed,
  .format-video > .entry-media,
  .oversized, 
  .gallery {
    margin-left: -2em;
    margin-right: -2em;
    width: calc(100% + 4em);
  }
}

/* Desktops and stuff */
@media only screen and (min-width: 860px) {
  .format-image .entry-media,
  .entry-audio-embed,
  .format-video > .entry-media,
  .oversized, 
  .gallery {
    margin-left: -6em;
    margin-right: -6em;
    width: calc(100% + 12em);
  }
}
