/* Main site navigation (most code is within media queries) */
#site-navigation {
  border-top: none;
}

#site-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#site-navigation .menu li {
  line-height: 1;
  margin: 0;
}

#site-navigation a {
  display: block;
  text-decoration: none;
  padding: 1.5rem 1.5rem;
}

/* In-page or in-post navigation */
[class*="navigation"] {
  line-height: 1.6;
}

[class*="navigation"] .previous {
  text-align: left;
}

[class*="navigation"] .next {
  text-align: right;
}

[class*="navigation"] .previous a,
[class*="navigation"] .next a {
  display: block;
  position: relative;
  color: #a09a92;
  font-style: italic;
}

.previous .meta-nav,
.next .meta-nav {
  color: #787065;
  display: block;
  font-family: Montserrat;
  font-size: 12px;
  font-size: 1.2rem;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.previous .meta-nav a, 
.next .meta-nav a {
  color: #787065;
  display: inline;
  font-style: normal;
}

.previous .meta-nav:before, 
.next .meta-nav:after {
  border: solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  margin: 0 0.5rem;
  top: 0.8em;
  width: 0;
}

.previous .meta-nav:before {
  border-right-color: #a09a92;
  border-width: 4px 4px 4px 0;
}

.next .meta-nav:after {
  border-left-color: #a09a92;
  border-width: 4px 0 4px 4px;
}
