.sticky {
  background: #f0f0ed;
  border-radius: 3px;
  margin-bottom: 4em;
}

.byline {
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Post format icons */
.entry-header:before {
  content: ')';
  content: 's';
  background: #d9d9cf;
  border: 2px solid #5e5e4b;
  border-radius: 50%;
  display: inline-block;
  font-family: readly-icons;
  font-size: 21px;
  line-height: 21px;
  padding: 10px;
  margin: 1rem auto 2rem;
}

.format-aside .entry-header:before {
  content: 'd';
}
.format-audio .entry-header:before {
  content: ',';
}
.format-chat .entry-header:before {
  content: 'b';
}
.format-gallery .entry-header:before {
  content: '+';
}
.format-image .entry-header:before {
  content: 'k';
}
.format-link .entry-header:before {
  content: ':';
}
.format-quote .entry-header:before {
  content: 'q';
}
.format-status .entry-header:before {
  content: 'm';
}
.format-video .entry-header:before {
  content: 'i';
}
.sticky .entry-header:before {
  content: ')';
}


/* Entry headers */
.entry-header {
  border-bottom: 1px solid #cacabc;
  margin-bottom: 8rem;
  padding-bottom: 2rem;
  text-align: center;
  word-wrap: break-word;
}

.entry-meta {
  color: #cacabc;
  font-style: italic;
}

.format-link .entry-header {
  margin-bottom: 0;
}

.page-header {
  padding: 0 2em 2em 2em;
}

.entry-title, .page-title {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.28em;
}

.page-title {
  margin-bottom: 1em;
  text-align: center;
}

.page-title span {
  font-style: italic;
}

.entry-title img, .page-title img {
  vertical-align: middle;
}

/* Entry content */
article + article {
  margin-top: 16rem;
}

.entry-content {
  word-wrap: break-word;
}

.entry-content a {
  border-bottom: 1px solid transparent;
}

.entry-content a.image_link:hover {
  border-bottom-color: #f7f7f5;
}

.entry-content h1 {
  font-size: 36px;
  font-size: 3.6rem;
  margin-bottom: 1.5em;
}

.entry-content h2 {
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 1.5em;
}

.entry-content h3 {
  font-size: 25px;
  font-size: 2.5rem;
  margin-bottom: 1.5em;
}

.entry-content h4 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 1.5em;
}

.entry-content h5 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 1.5em;
}

.entry-content h6 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}

.format-quote .entry-content {
  position: relative;
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 1.5em;
}

.format-quote .entry-content:before {
  content: '“';
  position: absolute;
  top: -6px;
  left: -57px;
  color: #dcdcdc;
  font-family: Georgia, Serif;
  font-size: 104px;
  font-size: 10.4rem;
  line-height: 1em;
  font-style: normal;
}

.format-quote footer.entry-meta a {
  border-bottom: none;
}

.format-link .link_post_p:after {
  content: 'c';
  font-family: readly;
  color: #adadad;
  font-size: 15px;
  font-size: 1.5rem;
  position: relative;
  top: -3px;
  left: 8px;
}

.format-link .link_post_p a {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.22em;
  border-bottom: 1px solid #adadae;
  color: #424242;
}

.more-link {
  background: #dcdcdb;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-size: 1.6rem;
  line-height: 1.4;
  padding: .75rem 1rem .75rem 1.5rem;
  position: relative;
  float: right;
}

.more-link:after {
  border: solid transparent;
  border-left-color: #dcdcdb;
  border-width: 1.95rem 0 1.95rem 1.5rem;
  content: '';
  display: block;
  height: 0;
  left: 100%;
  position: absolute;
  top: 0;
  -webkit-transform:rotate(360deg); /* For better anti-aliasing in Webkit */
  width: 0;
}

/* Entry footers */
footer.entry-meta {
  margin-top: 1.75em;
}


