.sticky {
  background: #faf9f5;
  border-radius: 3px;
}

.byline {
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Post format icons */
.entry-header:before {
  background: #faf9f5;
  border: 1px solid #d9d6d0;
  box-shadow: 0 0 0 4px #faf9f5;
  border-radius: 50%;
  color: #a09a92;
  content: ')';
  content: 's';
  display: inline-block;
  font-family: readly-icons;
  font-size: 21px;
  line-height: 21px;
  padding: 10px;
  margin: 1rem auto 2rem;
}

.format-aside .entry-header:before {
  content: 'd';
}
.format-audio .entry-header:before {
  content: ',';
}
.format-chat .entry-header:before {
  content: 'b';
}
.format-gallery .entry-header:before {
  content: '+';
}
.format-image .entry-header:before {
  content: 'k';
}
.format-link .entry-header:before {
  content: ':';
}
.format-quote .entry-header:before {
  content: 'q';
}
.format-status .entry-header:before {
  content: 'm';
}
.format-video .entry-header:before {
  content: 'i';
}
.sticky .entry-header:before {
  content: ')';
}
.password-protected .entry-header:before {
  content: 'q';
}

/* Entry headers */
.entry-header {
  border-bottom: 1px solid #d9d6d0;
  margin-bottom: 8rem;
  padding-bottom: 2rem;
  text-align: center;
  word-wrap: break-word;
}

.entry-meta {
  color: #a09a92;
  font-style: italic;
}

.entry-meta a {
  color: #a09a92;
}

.entry-header .entry-meta:before,
.entry-header .entry-meta:after {
  border-bottom: 1px solid #d9d6d0;
  content: '';
  display: inline-block;
  margin: 0 1rem;
  vertical-align: middle;
  width: 2rem;
}

.page-header {
  padding: 0 2em 2em 2em;
}

.entry-title,
.entry-title a,
.page-title,
.page-title a {
  color: #635d55;
  font-family: "Playfair Display";
  font-size: 44px;
  font-size: 4.4rem;
  line-height: 1.28em;
}

.page-title {
  margin-bottom: 1em;
  text-align: center;
}

.page-title span {
  font-style: italic;
}

.entry-title img, .page-title img {
  vertical-align: middle;
}

/* Featured image */
.featured-image,
.featured-image.aligncenter {
  margin: -4rem auto 2rem;
}

/* Entry content */
article + article {
  margin-top: 16rem;
}

.entry-content {
  word-wrap: break-word;
}

.entry-content h1 {
  color: #a09a92;
  font-size: 36px;
  font-size: 3.6rem;
  margin-bottom: 1.5em;
}

.entry-content h2 {
  color: #a09a92;
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 1.5em;
}

.entry-content h3 {
  color: #635d55;
  font-size: 25px;
  font-size: 2.5rem;
  margin-bottom: 1.5em;
}

.entry-content h4 {
  color: #635d55;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 1.5em;
}

.entry-content h5 {
  color: #635d55;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 1.5em;
}

.entry-content h6 {
  color: #635d55;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}

/* "Read more" link */
.more-link {
  background: #a09a92;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #faf9f5;
  display: inline-block;
  font-size: 12px;
  font-size: 1.6rem;
  line-height: 1.4;
  padding: .75rem 1rem .75rem 1.5rem;
  position: relative;
  float: right;
}

.more-link:after {
  border: solid transparent;
  border-left-color: #a09a92;
  border-width: 1.95rem 0 1.95rem 1.5rem;
  content: '';
  display: block;
  height: 0;
  left: 100%;
  position: absolute;
  top: 0;
  -webkit-transform:rotate(360deg); /* For better anti-aliasing in Webkit */
  width: 0;
}

.more-link:hover {
  background: #635d55;
  color: #eae9e6;
}

.more-link:hover:after {
  border-left-color: #635d55;
}

/* Post formats */
.format-aside .entry-content {
  color: #635d55;
  font-size: 21px;
  font-size: 2.1rem;
  font-style: italic;
}

.format-status {
  font-size: 2rem;
}

.format-link .entry-content {
  font-size: 21px;
  font-size: 2.1rem;
  text-align: center;
}

/* Password-protected posts */
.password-protected .entry-content {
  color: #a09a92;
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
}

.password-protected label {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

/* Entry footers */
footer.entry-meta {
  margin: 1.75rem 0;
  text-align: center;
}

footer.entry-meta .edit-link:before, 
.comment-meta .edit-link:before {
  content: '· ';
  color: #d9d6d0;
}
