body,
button,
input,
select,
textarea {
  color: #363431;
  font-family: "Libre Baskerville", Baskerville, "Book Antiqua", Georgia, Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

b, 
strong {
  font-weight: bold;
}

dfn, 
cite, 
em, 
i {
  font-style: italic;
}

blockquote {
  color: #a09a92;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 36px;
  font-size: 3.6rem;
  font-style: italic;
  line-height: 1.4;
  position: relative;
}

blockquote:before {
  color: #d9d6d0;
  content: '\201C';
  display: block;
  font-size: 104px;
  font-size: 10.4rem;
  font-style: normal;
  left: -50px;
  line-height: 1;
  position: absolute;
  top: -10px;
}

blockquote cite {
  float: right;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote cite:before {
  content: '\2013';
  display: inline;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #d9d6d0;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  max-width: 100%;
  white-space: pre;
  white-space: pre-wrap;
}

code, kbd, tt, var {
  font-family: "Andale Mono", Consolas, "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.5rem;
}

abbr, 
acronym {
  border-bottom: 1px dotted #a09a92;
  cursor: help;
}

mark, 
ins {
  background: #faf9f5;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}
