body,
button,
input,
select,
textarea {
  color: #363431;
  font-family: "Libre Baskerville", Baskerville, "Book Antiqua", Georgia, Times, serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.6;
}

h1 {
  color: #a09a92;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 44px;
  font-size: 4.4rem;
  font-style: italic;
  margin: 1em 0 0.5em;
}

h2 {
  border-bottom: 1px solid #787065;
  color: #787065;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-size: 2.1rem;
  letter-spacing: 2px;
  margin: 3em 0 1.5em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

h3 {
  color: #a09a92;
  font-size: 25px;
  font-size: 2.5rem;
  font-style: italic;
  margin: 2em 0 1em;
}

h4 {
  color: #787065;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin: 3em 0 1.5em;
  text-transform: uppercase;
}

h5 {
  color: #a09a92;
  font-size: 21px;
  font-size: 2.1rem;
  font-style: italic;
  margin: 1.5em 0 0.75em;
}

h6 {
  color: #787065;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 1.5em 0 0.75em;
  text-transform: uppercase;
}

p {
  margin-bottom: 1.5em;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  color: #a09a92;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 36px;
  font-size: 3.6rem;
  font-style: italic;
  line-height: 1.4;
  position: relative;
}

blockquote:before {
  color: #d9d6d0;
  content: '\201C';
  display: block;
  font-size: 104px;
  font-size: 10.4rem;
  font-style: normal;
  left: -50px;
  line-height: 1;
  position: absolute;
  top: -10px;
}

blockquote cite {
  color: #787065;
  float: right;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: normal;
  letter-spacing: 1px;
  margin-top: 1em;
  text-transform: uppercase;
}

blockquote cite:before {
  content: '\2013';
  display: inline;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #d9d6d0;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  max-width: 100%;
  white-space: pre;
  white-space: pre-wrap;
}

code, kbd, tt, var {
  font-family: "Andale Mono", Consolas, "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.5rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #a09a92;
  cursor: help;
}

mark,
ins {
  background: #faf9f5;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

strong em,
em strong,
b i,
i b,
b em,
em b,
strong i,
i strong {
  background: #faf9f5;
  color: #a09a92;
  font-size: .8em;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 0;
  text-transform: uppercase;
}

em code,
strong code,
i code,
b code {
  font-style: normal;
  font-weight: normal;
}
