#footer-sidebar {
  background: #fffffe;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 0 0 2rem 0;
  width: 100%;
}

#footer-sidebar .widget-block {
  font-size: 1.2rem;
  padding: 2rem 3rem;
}


/* Phone-sized screens */
@media only screen and (max-width: 640px) {
  #footer-sidebar .widget-block {
    width: 100%;
  }
}

/* Tablets and teeny desktops */
@media only screen and (min-width: 641px) {
  #footer-sidebar.sidebar-count-2 .widget-block,
  #footer-sidebar.sidebar-count-3 .widget-block,
  #footer-sidebar.sidebar-count-4 .widget-block {
    float: left;
    margin: 0 0 0 4%;
    width: 48%;
  }

  #footer-sidebar .widget-block:nth-of-type(odd) {
    margin-left: 0;
  }
}

/* Anything bigger */
@media only screen and (min-width: 1024px) {
  #footer-sidebar {
    padding: 4rem 2rem;
  }

  /* Different widths for different numbers of active sidebars */
  #footer-sidebar.sidebar-count-1 .widget-block {
    margin: 0 auto;
    width: 85%;
  }

  #footer-sidebar.sidebar-count-2 .widget-block {
    float: left;
    margin: 0 5% 0 0;
    width: 45%;
  }

  #footer-sidebar.sidebar-count-3 .widget-block {
    float: left;
    margin: 0 3% 0 0;
    width: 30%;
  }

  #footer-sidebar.sidebar-count-4 .widget-block {
    float: left;
    margin: 0 1% 0 0;
    width: 24.25%;
  }

  #footer-sidebar .widget-block:last-of-type {
    border-right: none;
    margin-right: 0;
  }
}

.widget {
  margin: 0 0 1.5em;
}

.widget-title {
  border-bottom: 1px solid #4b4b3c;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
  display: none;
}
